
include ../blocks/scripts/scripts

include ../blocks/header/header
include ../blocks/footer/footer

doctype html
html(lang='ru')
  include ../blocks/head/head
  body
    +header()
    h1 New page
    +footer()
    block scripts
    +scripts(['build.js'])
