
include ../_bemto/bemto.pug

include ../_blocks/header/header
include ../_blocks/footer/footer
include ../_blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='ru')
  include ../_blocks/head/head
  body
    +header()
    h1 New index with webpack!!
    +footer()
    block scripts
    +scripts(['main.js'])
