include ../mixins/mixins
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts


doctype html
html(lang='ru')
  include ../blocks/head/head
  body
    +header()

    block content

    +footer()

    block scripts
      +scripts(['bundle.js'])
