html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

:disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both



.svg-sprite
  display none
